{namespace wpj=Tx_Wpj_ViewHelpers}

<wpj:gridCss i="{i}">
	<article class="article-teaser {article.articletypeCssClass}{article.mediatypeCSSClass}">
		<div class="inner-teaser">
			<div class="teaser-content bl clearfix">
			<f:link.action controller="article" action="show" arguments="{article : article}" title="Artikel {article.title} lesen">
				<f:image src="{article.thumbnailUrl}" width="70c" height="60c" alt="Bild: {article.title}"/>
			</f:link.action>
			<h3><f:link.action controller="article" action="show" arguments="{article : article}" title="Artikel {article.title} lesen">
		<span class="hideme">Artikel: </span><span><f:format.crop maxCharacters="28">{article.title}</f:format.crop></span></f:link.action></h3>
			</div>
			<div class="author meta clearfix">
				<h4>Autoren/Gruppe</h4>
				<ul class="authorlist">
					<li><f:render partial="authorWithImage" arguments="{author: article.author}"/></li>
				</ul>
			</div>
			<span class="state {article.reviewedCSSClass} {article.ownerCSSClass}"></span>
			<span class="articletype {article.articletypeCssClass}"></span>
		</div>
		<hr class="hideme" />
	</article>
</wpj:gridCss>