<footer class="grid">
	<div class="slot-6-7">
		<h5>Gefördert durch:</h5>
		<div class="slot-6">
			<a href="http://www.bmbf.de"><img src="typo3conf/ext/wpj/Resources/Public/img/bmbf.png" width="156" height="80" alt="Bundesministerium für Bildung und Forschung" /></a>
		</div>
		<div class="slot-7">
			<a href="http://www.thueringen.de/de/tmbwk/"><img src="typo3conf/ext/wpj/Resources/Public/img/thmbwk.png" width="146" height="83" alt="Thüringer Ministerium für Bildung, Wissenschaft und Kultur" /></a>
		</div>
	</div>
	<div class="slot-8-9">
		<h5>Projektträger:</h5>
		<div class="slot-8">
			<a href="http://www.klassikstiftung.de"><img src="typo3conf/ext/wpj/Resources/Public/img/klassik-stiftung-weimar.png" width="147" height="49" alt="Klassik Stiftung Weimar" /></a>
		</div>
		<div class="slot-9">
			<a href="http://www.uni-weimar.de"><img src="typo3conf/ext/wpj/Resources/Public/img/bauhaus-universitaet-weimar.png" width="155" height="39" alt="Bauhaus-Universität Weimar" /></a>
		</div>
	</div>
</footer>
