{namespace wpj=Tx_Wpj_ViewHelpers}
<ul class="clearfix">
	<wpj:menu controller="articleAdmin" action="indexKnowledge" controllerArguments="selection=all">Wissensartikel</wpj:menu>
	<wpj:menu controller="articleAdmin" action="indexExhibition">Galerie-Artikel</wpj:menu>
	<wpj:menu controller="articleAdmin" action="indexLastModified">letzte 30 &Auml;nderungen</wpj:menu>
	<wpj:menu controller="articleAdmin" action="indexNotReviewed">Auf Freigabe wartend</wpj:menu>
	<wpj:menu controller="articleAdmin" action="show">neuer Artikel</wpj:menu>
</ul>	