<f:layout name="default" />

This template displays a EDIT form for the current domain object.

<f:section name="main">
<h1>Edit school</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="update" name="school" object="{school}">
	<label for="title">Name der Schule</label><br />
	<f:form.textfield property="name" /><br />
	<label for="title">Stadt</label><br />
	<f:form.textfield property="city" /><br />
	<label for="title">Bundesland</label><br />
	<f:form.textfield property="state" /><br />
	<label for="title">Land</label><br />
	<f:form.textfield property="country" /><br />
	<label for="title">Internetadresse</label><br />
	<f:form.textfield property="url" /><br />
	<f:form.submit value="Edit" />
</f:form>
</f:section>