<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">
<h1>Listing for media</h1>

<f:flashMessages />

<table>
	<tr>
		<th><f:translate key="tx_wpjv1_domain_model_media.content_type" /></th>
		<th><f:translate key="tx_wpjv1_domain_model_media.file" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{medias}" as="media">
		<tr>
			<td><f:link.action action="show" arguments="{media : media}"> {media.content_type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.file}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{media : media}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{media : media}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New media</f:link.action>
</f:section>


<f:section name="sidebar">
	<f:render partial="sidebar" />
</f:section>