<f:layout name="default" />

This Template is responsible for creating a single view for a domain object

<f:section name="main">
<h1>Passwort erneuern f&uuml;r {author.shortName}</h1>

<table>
	<tr class="firstrow">
		<th colspan="2">Login f&uuml;r http://weimarpedia.de</th>
	</tr>
	<tr>
		<th>Gruppe</th>
		<td>{author.name}<br /><i>{author.address}</i></td>
	</tr>
	<tr>
		<th>Login:</th>
		<td>{author.username}</td>
	</tr>
	<tr>
		<th>Passwort:</th>
		<td>{password}</td>
	</tr>
	<tr class="lastrow">
		<th>E-Mail:</th>
		<td>{author.email}</td>
	</tr>
</table>

<script type="text/javascript">
	<!--
	window.print();
	// -->
</script>
<f:link.action action="index">Zur&uuml;ck zur Liste</f:link.action>
</f:section>