<table>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallyeplace.name" /></td>
		<td>{rallyePlace.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallyeplace.description" /></td>
		<td>{rallyePlace.description}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallyeplace.image" /></td>
		<td>{rallyePlace.image}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallyeplace.address" /></td>
		<td>{rallyePlace.address}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallyeplace.lat" /></td>
		<td>{rallyePlace.lat}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallyeplace.lng" /></td>
		<td>{rallyePlace.lng}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallyeplace.accuracy" /></td>
		<td>{rallyePlace.accuracy}</td>
	</tr>
</table>