<f:layout name="default" />

This template displays a EDIT form for the current domain object.

<f:section name="main">
<h1>Edit mediafile</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="update" name="mediafile" object="{mediafile}">
	<label for="title"><f:translate key="tx_wpj_domain_model_mediafile.title" /></label><br />
	<f:form.textfield property="title" /><br />
	<label for="title"><f:translate key="tx_wpj_domain_model_mediafile.file" /></label><br />
	<f:form.textfield property="file" /><br />
	<label for="title"><f:translate key="tx_wpj_domain_model_mediafile.copyright" /></label><br />
	<f:form.textfield property="copyright" /><br />
	<label for="title"><f:translate key="tx_wpj_domain_model_mediafile.content_type" /></label><br />
	<f:form.textfield property="content_type" /><br />
	<label for="title"><f:translate key="tx_wpj_domain_model_mediafile.description" /></label><br />
	<f:form.textfield property="description" /><br />
	<f:form.submit value="Edit" />
</f:form>
</f:section>