<f:layout name="modalIframe" />
<f:section name="main">


<div class="tabs">
	<ul>
		<li><a href="#tabs-1">Neue Datei hochladen</a></li>
		<li><a href="#tabs-2">Bibliothek</a></li>
	</ul>
	<div id="tabs-1">
		
		<div id="notifications">
			<f:flashMessages />
		</div>

		<div>
			<h2>Neue Datei hochladen</h2>
			<f:form enctype="multipart/form-data" method="post" action="uploadMediafile" name="article" object="{article}">
				<f:form.hidden name="article_id" value="{article.uid}" />
				<f:form.upload property="mediafile" />
				<f:form.submit value="hochladen" id="submitUpload"/> und Fenster schliessen <f:form.checkbox name="closeWindow" checked="true" value="true"/>
			</f:form>
			<div id="waitForUpload"> <f:image src="typo3conf/ext/wpj/Resources/Public/img/spinner.gif" alt="warten..."/> Bitte warten, die Datei wird auf den Server geladen. Das kann einige Minuten dauern...</div>
			
			<p>Du kannst die folgenden Medien hochladen:</p>
			<ul>
				<li>Bilder als JPGs (mit höchstens 3MB)</li>
				<li>Filme und Animationen als MP4, benutze dazu einen Converter, z.B. <a href="http://www.mirovideoconverter.com">Miro</a></li>
				<li>Hörspiele oder Sounds als MP3</li>
				<li>Zeitungen oder ähnliche Druckdokumente als PDF</li>
			</ul>	
			<p>Achtung:</p>
			<ul>				
				<li>Präsentationen (Powerpoint o.ä.) bitte als PDF exportieren, damit sie von jedem geöffnet werden können. <br/>Noch besser: als Einzelbilder einfügen</li>
				<li>keine Worddokumente als doc-Dateien hochladen - nicht jeder kann sie öffnen</li>
			</ul>
			
		</div>
			
		<hr/>
		
		<div>
			<h2>Zugewiesene Bilder</h2>
			<div class="clearfix">
			<f:for each="{article.medias}" as="media">
				<div class="mediafile">
					<f:image src="{media.previewUrl}" width="150cm" height="150" alt="preview"/>
					<!--<p><f:format.html parseFuncTSPath="">{media.description}</f:format.html></p>-->
					<p><f:link.action class="wpj-button" action="removeMedia" arguments="{media : media, article : article}">Datei entfernen</f:link.action></p>	
				</div>
			</f:for>
			</div>
		</div>
	</div>

	<div id="tabs-2">
		<a id="library-tab"></a>
		<div id="notifications">
			<f:flashMessages />
		</div>
		
		<div>
			<h2>Bilder oder Videos aus der Bibliothek</h2>
			
			<f:form method="post" controller="article" action="addMedia" arguments="{article: article}" name="search" section="tab-2">
				<label for="mediafileSearchField" class="hideme">Suche</label> 
				<f:form.textfield id="mediafileSearchField" property="search" value="{search.search}"/> 
				<f:form.submit value="suchen" />
			</f:form>
			
			<p> </p>
			
			<div class="clearfix">
				<f:widget.paginate objects="{mediafiles}" as="paginatedMediafiles"
					 configuration="{itemsPerPage: 50, insertAbove: 0, insertBelow: 1}">
					<f:for each="{paginatedMediafiles}" as="mediafile">
						<div class="mediafile">
							<f:image src="{mediafile.url}" width="150cm" height="150" alt="preview"/>
							<!--<p>{mediafile.description}</p>-->
							<p><f:link.action class="wpj-button" action="addMediafile" arguments="{mediafile : mediafile, article : article}">dem Artikel hinzuf&uuml;gen</f:link.action></p>
						</div>
					</f:for>
			</div>
			<div class="pagination">
			</f:widget.paginate>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

	$(document).ready(function(){
		// show message while uploading
		$('#waitForUpload').hide();
		$('#submitUpload').click(function(){
			$(this).prop("value", "bitte warten...");
			$('#waitForUpload').fadeIn();
		});
		
	});

	

</script>
</f:section>
