<f:layout name="default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
	Resources:
		Private: 
			Templates:
				Create.html:		keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="main">
<h1>Neue Aufgabe f&uuml;r {rallye.name}</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form enctype="multipart/form-data" method="post" action="createTask" name="newTask" object="{newTask}" arguments="{rallye:rallye}">
	<f:render partial="Task/formFields" arguments="{rallyePlaces:rallyePlaces , resultTypes:resultTypes, domainObject:domainObject}" />
	<f:form.hidden property="rallye" value="{rallye}"/>
	<f:form.submit class="wpj-button" value="Erstellen" />
</f:form>
</f:section>