<div id="wrapper">
    <div id="content">
    	<f:render section="main" />
    </div>
	<script type="text/javascript">
		$(document).ready(function(){
			if ($('.tabs').length) $('.tabs').tabs();
			
			// jump to tab if hash is set (e.g. tab-2 for second tab)
			if(document.location.hash!='') {
			    //get the index from URL hash
			    tabSelect = document.location.hash.split('-');
			    $(".tabs").tabs('select', (tabSelect[1]-1));
			}
		
		})
	</script>
</div>

<script type="text/javascript" src="typo3conf/ext/wpj/Resources/Public/js/jquery.cookie.js"></script>
<script type="text/javascript" src="typo3conf/ext/wpj/Resources/Public/js/general.js"></script>
<script type="text/javascript" src="typo3conf/ext/wpj/Resources/Public/js/jquery-ui-1.8.9.custom.min.js"></script>
