<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">
<h1>Listing for concept</h1>

<f:flashMessages />

<table>
	<tr>
		<th><f:translate key="tx_wpjv1_domain_model_concept.caption" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{concepts}" as="concept">
		<tr>
			<td><f:link.action action="show" arguments="{concept : concept}"> {concept.caption}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{concept : concept}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{concept : concept}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New concept</f:link.action>
</f:section>