<?xml version="1.0"?>
<markers>
	
	<marker>
		<name>Haus Hohe Pappeln</name>
		<address></address>
		<lat>50.95937607207415</lat>
		<lng>11.34173492545317</lng>
	</marker>
	<marker>
		<name>Goethes Wohnhaus</name>
		<address></address>
		<lat>50.97750705034195</lat>
		<lng>11.328661838714584</lng>
	</marker>
	<marker>
		<name>Goethes Gartenhaus</name>
		<address></address>
		<lat>50.975938140707335</lat>
		<lng>11.336810389701828</lng>
	</marker>
	<marker>
		<name>Liszt-Haus</name>
		<address></address>
		<lat>50.97483531243593</lat>
		<lng>11.329981485549911</lng>
	</marker>
	<marker>
		<name>Anna Amalia Bibliothek</name>
		<address>Historisches Gebäude und Rokokosaal</address>
		<lat>50.978523688991544</lat>
		<lng>11.332210401241287</lng>
	</marker>
	
</markers>


<!--       
                
					pid: '50',
					uid: '13',
                    latlng: new google.maps.LatLng(50.97946600194829, 11.331220666114792),
					title:'Studienzentrum',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/haab_studienzentrum.png',
                    iconShapeCoordinates: [60,69,50,60,34,60,34,12,40,11,40,3,75,3,76,20,86,20,86,60,70,60],
					infoWindowDomId: 'poi_13',
					sorting:256
                
			},
		
			{
                
					pid: '84',
					uid: '15',
                    latlng: new google.maps.LatLng(50.97890196745811, 11.327798167411789),
					title:'Schillers Wohnhaus',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/schiller-museum_01.png',
                    iconShapeCoordinates: [59,69,50,61,24,60,24,34,31,21,36,20,45,10,58,13,64,6,73,8,85,2,96,17,99,31,100,61,69,60],
					infoWindowDomId: 'poi_15',
					sorting:1100
                
			},
		
			{
                
					pid: '83',
					uid: '16',
                    latlng: new google.maps.LatLng(51.016322783265906, 11.42614404315184),
					title:'Wielandgut Oßmannstedt',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/wielandgut_ossmanstedt.png',
                    iconShapeCoordinates: [60,69,49,60,42,61,18,53,17,43,31,33,65,17,78,25,86,24,93,29,97,28,98,33,102,37,102,53,67,64],
					infoWindowDomId: 'poi_16',
					sorting:256
                
			},
		
			{
                
					pid: '81',
					uid: '17',
                    latlng: new google.maps.LatLng(50.980124596424425, 11.325856248085007),
					title:'Bauhaus-Museum Weimar',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/bauhaus-museum_weimar.png',
                    iconShapeCoordinates: [60,69,51,61,19,59,19,41,45,23,94,30,109,40,109,59,94,63,68,61],
					infoWindowDomId: 'poi_17',
					sorting:499
                
			},
		
			{
                
					pid: '80',
					uid: '20',
                    latlng: new google.maps.LatLng(50.97750705034195, 11.328661838714584),
					title:'Goethe-Nationalmuseum mit Goethes Wohnhaus',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/goethes_wohnhaus_02.png',
                    iconShapeCoordinates: [59,69,50,61,6,60,8,13,51,14,103,22,107,33,108,58,69,59],
					infoWindowDomId: 'poi_20',
					sorting:128
                
			},
		
			{
                
					pid: '79',
					uid: '21',
                    latlng: new google.maps.LatLng(50.63595833484956, 10.867549875919327),
					title:'Goethe-Museum Stützerbach',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/goethemuseum_stuetzerbach.png',
                    iconShapeCoordinates: [59,69,50,61,22,60,23,16,42,11,75,11,95,15,99,27,97,61,69,60],
					infoWindowDomId: 'poi_21',
					sorting:256
                
			},
		
			{
                
					pid: '78',
					uid: '22',
                    latlng: new google.maps.LatLng(50.98617647340725, 11.326333681289658),
					title:'Neues Museum Weimar',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/neues_museum_02.png',
                    iconShapeCoordinates: [59,69,52,63,46,63,14,54,16,21,28,15,33,17,49,6,73,14,74,17,83,21,91,17,104,22,104,55,86,61,69,60],
					infoWindowDomId: 'poi_22',
					sorting:256
                
			},
		
			{
                
					pid: '77',
					uid: '23',
                    latlng: new google.maps.LatLng(50.9749265120919, 11.331220666114792),
					title:'Parkhöhle',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/parkhoehle.png',
                    iconShapeCoordinates: [60,70,49,60,30,60,30,14,51,4,68,4,89,14,90,60,69,59],
					infoWindowDomId: 'poi_23',
					sorting:256
                
			},
		
			{
                
					pid: '76',
					uid: '39',
                    latlng: new google.maps.LatLng(50.97890196745811, 11.327798167411789),
					title:'Schiller-Museum mit Schillers Wohnhaus',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/schiller-museum.png',
                    iconShapeCoordinates: [59,69,50,61,24,60,24,34,31,21,36,20,45,10,58,13,64,6,73,8,85,2,96,17,99,31,100,61,69,60],
					infoWindowDomId: 'poi_39',
					sorting:1000
                
			},
		
			{
                
					pid: '73',
					uid: '26',
                    latlng: new google.maps.LatLng(50.972757938437844, 11.325679222290024),
					title:'Fürstengruft',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/fuerstengruft.png',
                    iconShapeCoordinates: [59,69,51,61,33,63,25,56,24,40,31,19,40,21,55,14,70,20,77,19,97,35,93,40,93,59,85,61,68,61],
					infoWindowDomId: 'poi_26',
					sorting:256
                
			},
		
			{
                
					pid: '72',
					uid: '27',
                    latlng: new google.maps.LatLng(51.01479737124749, 11.429223219100937),
					title:'Gutspark Oßmannstedt',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/gutspark_ossmanstedt.png',
                    iconShapeCoordinates: [60,69,51,61,40,56,40,48,46,44,48,9,62,5,73,9,75,44,80,47,80,57,68,61],
					infoWindowDomId: 'poi_27',
					sorting:256
                
			},
		
			{
                
					pid: '71',
					uid: '28',
                    latlng: new google.maps.LatLng(50.983290785602975, 11.327961782161697),
					title:'Kassengewölbe',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/kassengewoelbe.png',
                    iconShapeCoordinates: [60,69,50,61,36,61,35,17,44,10,61,9,84,20,83,58,70,60],
					infoWindowDomId: 'poi_28',
					sorting:256
                
			},
		
			{
                
					pid: '70',
					uid: '29',
                    latlng: new google.maps.LatLng(50.97313288598305, 11.335163513366684),
					title:'Park an der Ilm',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/park_an_der_ilm.png',
                    iconShapeCoordinates: [60,69,52,62,40,61,40,53,45,32,43,24,47,6,69,0,79,6,79,17,74,23,76,34,77,51,79,62,66,63],
					infoWindowDomId: 'poi_29',
					sorting:256
                
			},
		
			{
                
					pid: '69',
					uid: '30',
                    latlng: new google.maps.LatLng(50.97118717933239, 11.33550683612059),
					title:'Römisches Haus',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/roemisches_haus.png',
                    iconShapeCoordinates: [60,69,50,60,16,59,16,50,24,49,22,31,35,12,74,23,104,37,104,60,70,59],
					infoWindowDomId: 'poi_30',
					sorting:256
                
			},
		
			{
                
					pid: '68',
					uid: '31',
                    latlng: new google.maps.LatLng(50.94831901993201, 11.349025169555649),
					title:'Schloss und Park Belvedere',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/schloss_belvedere.png',
                    iconShapeCoordinates: [60,69,50,60,11,61,10,31,18,28,29,12,41,27,55,27,72,3,81,21,97,26,108,36,107,55,93,58,71,59],
					infoWindowDomId: 'poi_31',
					sorting:256
                
			},
		
			{
                
					pid: '67',
					uid: '32',
                    latlng: new google.maps.LatLng(51.03212067012121, 11.273891130630478),
					title:'Schloss und Park Ettersburg',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/schloss_ettersburg.png',
                    iconShapeCoordinates: [60,69,49,60,19,59,20,14,42,13,60,6,78,14,100,14,100,60,71,60],
					infoWindowDomId: 'poi_32',
					sorting:256
                
			},
		
			{
                
					pid: '165',
					uid: '33',
                    latlng: new google.maps.LatLng(50.776435341276745, 11.357436577026352),
					title:'Schloss, Park und Liebhabertheater Kochberg',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/schloss_kochberg.png',
                    iconShapeCoordinates: [59,69,50,61,22,54,21,33,48,14,57,29,62,27,63,19,75,1,81,10,86,9,97,26,97,57,90,61,71,60],
					infoWindowDomId: 'poi_33',
					sorting:256
                
			},
		
			{
                
					pid: '66',
					uid: '34',
                    latlng: new google.maps.LatLng(50.993855007484285, 11.36346618289183),
					title:'Schloss und Park Tiefurt',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/schloss_tiefurt.png',
                    iconShapeCoordinates: [59,71,51,62,35,58,22,57,19,31,29,20,43,12,57,7,65,8,91,21,100,32,98,58,70,61],
					infoWindowDomId: 'poi_34',
					sorting:256
                
			},
		
			{
                
					pid: '65',
					uid: '35',
                    latlng: new google.maps.LatLng(50.98046571091658, 11.332416931335434),
					title:'Stadtschloss mit Schlossmuseum',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/stadtschloss_weimar_01.png',
                    iconShapeCoordinates: [59,69,51,60,44,60,38,67,14,65,14,48,25,38,33,37,38,8,44,8,48,31,99,31,108,37,108,52,103,63,69,60],
					infoWindowDomId: 'poi_35',
					sorting:256
                
			},
		
			{
                
					pid: '64',
					uid: '36',
                    latlng: new google.maps.LatLng(50.97968891189375, 11.326553622428879),
					title:'Wittumspalais',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/wittumspalais.png',
                    iconShapeCoordinates: [59,69,52,62,22,56,20,45,25,35,31,30,34,18,52,2,64,6,80,15,91,23,97,34,96,57,69,60],
					infoWindowDomId: 'poi_36',
					sorting:256
                
			},
		
			{
                
					pid: '231',
					uid: '37',
                    latlng: new google.maps.LatLng(50.98297502069568, 11.33375803584288),
					title:'Goethe- und Schiller-Archiv',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/goethe-schiller-archiv_01.png',
                    iconShapeCoordinates: [59,69,52,62,18,60,19,27,40,15,49,15,67,7,99,19,100,59,67,62],
					infoWindowDomId: 'poi_37',
					sorting:256
                
			},
		
			{
                
					pid: '75',
					uid: '38',
                    latlng: new google.maps.LatLng(50.98046571091658, 11.332416931335434),
					title:'Schlossmuseum im Stadtschloss',
					icon: 'fileadmin/../uploads/tx_lombpointofinterest/stadtschloss_weimar_02.png',
                    iconShapeCoordinates: [59,69,51,60,44,60,38,67,14,65,14,48,25,38,33,37,38,8,44,8,48,31,99,31,108,37,108,52,103,63,69,60],
					infoWindowDomId: 'poi_38',
					sorting:256
                
			},
			-->
