<f:layout name="default" />

This template displays a EDIT form for the current domain object.

<f:section name="main">
<h1>Profil bearbeiten</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="update" name="author" object="{author}">
	
	<label for="name">Gruppenname</label><br />
	<f:form.textfield property="name" /><br />
	<label for="address">Teilnehmer</label><br />
	<f:form.textfield property="address" /><br />
	<label for="email">Email (optional)</label><br />
	<f:form.textfield property="email" /><br />
	
	<f:form.submit value="aktualisieren" />
</f:form>
</f:section>