<table>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallye.name" /></td>
		<td>{rallye.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallye.description" /></td>
		<td>{rallye.description}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallye.comment" /></td>
		<td>{rallye.comment}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallye.image" /></td>
		<td>{rallye.image}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallye.duration" /></td>
		<td>{rallye.duration}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_wpjr_domain_model_rallye.author" /></td>
		<td>{rallye.author}</td>
	</tr>
</table>