<f:layout name="default" />

<f:section name="main">
	<div id="nav-wiki-tools">
		<f:render partial="navigation_admin_articles" />
		<hr class="hideme" />
	</div>

	<div id="notifications">
		<f:flashMessages />
	</div>	
	
	<div id="content">
	
	
	<h3>Artikel mit mehr als 3 Versionen</h3>
		
	<table>
		<tr>
			<th></th>
			<th>Titel</th>
			<th>Versionen</th>
			<th></th>
			<th></th>
		</tr>
	
	
			<f:for each="{versions}" as="version">
			<tr>
				<td></td>
				<td>{version.title}</td>
				<td>{version.backups}</td>
				
			</tr>
			</f:for>
		
	</table>

</div>		
</f:section>