<f:layout name="default" />

<f:section name="main">
	<div id="nav-wiki-tools">
		<f:render partial="navigation_admin_articles" />
		<hr class="hideme" />
	</div>

	<div id="notifications">
		<f:flashMessages />
	</div>	
	
	<div id="content">
	
	
	<h3>Alte Artikel-Versionen löschen</h3>
	
	<p>
		<f:link.action class="wpj-button" action="cleanUpVersions" controller="articleAdmin">Diese ungenutzten Artikel-Versionen löschen</f:link.action><br/>
		<br/>
		Die folgende Liste zeigt Versionen von Artikeln, die nicht sichtbar sind und älter als ein Jahr alt sind. Sie sollten gelegentlich gelöscht werden.
	</p>
	
	<table>
		<tr>
			<th>ID</th>
			<th>Titel</th>
			<th>Datum</th>
		</tr>
	
	
			<f:for each="{versions}" as="version">
			<tr>
				<td>{version.uid}</td>
				<td>{version.title}</td>
				<td><f:format.date format="d.m.y H:i">@{version.tstamp}</f:format.date> {version.tstamp}</td>
			</tr>
			</f:for>
		
	</table>

</div>		
</f:section>